.container {
  max-width: 80%;
  margin: auto;
  margin-top: 50px;
}
.link {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}
.link__connect {
  list-style-type: none;
}
.link__ent {
  text-decoration: none;
  color: grey;
  cursor: pointer;
  font-size: 40px;
  font-weight: bolder;
}
